@use '@matteusan/himig';

@use '@matteusan/himig/ms-button';
@use '@matteusan/himig/ms-card';
@use '@matteusan/himig/ms-form-field';
@use '@matteusan/himig/ms-list';
@use '@matteusan/himig/ms-select-field';
@use '@matteusan/himig/ms-utils';

// Components
@use 'components/mu-alert';
@use 'components/mu-appbar';
@use 'components/mu-header';
@use 'components/mu-markdown';
@use 'components/mu-pathbar';

@include himig.init(
  $primary: (
    200: #949494,
    300: #707070,
    400: #505050,
    600: #2d2d2d,
    800: #212121,
  ),
  $accent: (
    200: #ffc46a,
    300: #fdaa31,
    400: #ff9900,
    600: #c97900,
    800: #7a4c00,
  ),
  $surface: (
    200: #fff,
    300: #e5e5e5,
    400: #c4c4c4,
    600: #939393,
    800: #696969,
  ),
  $error: (
    200: #ff8d8d,
    300: #ec4f4f,
    400: #c41b1b,
    600: #8d0c0c,
  ),
  $extend: (
    warning: (
      200: #ffc46a,
      300: #fdaa31,
      400: #ff9900,
      600: #c97900,
      800: #7a4c00,
      ink: #000,
      alpha: (
        200: rgba(#ff9900, 8%),
        300: rgba(#ff9900, 12%),
        400: rgba(#ff9900, 34%),
        600: rgba(#ff9900, 66%),
      )
    ),
    success: (
      200: himig.primitive-token-get('ms-green.200'),
      300: himig.primitive-token-get('ms-green.300'),
      400: himig.primitive-token-get('ms-green.400'),
      600: himig.primitive-token-get('ms-green.600'),
      800: himig.primitive-token-get('ms-green.800'),
      ink: #fff,
    )
  )
) {
  main.content-wrap {
    width: calc(100% - 50px) !important;
    padding-block-end: 7em !important;

    &.is-auth {
      max-width: 670px;
      min-height: 100vh;
      display: grid;
      place-items: center;
    }
  }

  @include mu-alert.render();
  @include ms-button.render();
  .ms-button__icon {
    max-width: none !important;

    > * {
      max-width: none !important;
    }
  }
  @include ms-button.extend('small') {
    @include ms-button.struct((
      padding: (0.3rem 0.5rem)
    ));
    @include ms-button.typography((
      size: 12px
    ));
  }
  @include ms-button.extend('inverted') {
    @include ms-button.color((
      fill: rgba(0 0 0 / 0),
      ink: 'warning-400',
      border: rgba(0 0 0 / 0),
    ));

    &:hover, &:focus {
      @include ms-button.color((
        fill: rgba(himig.token-get-raw('warning-400'), himig.$color-fill-hover-opacity),
        ink: 'warning-400',
        border: rgba(himig.token-get-raw('warning-400'), himig.$color-fill-hover-opacity)
      ));
    }

    &:focus {
      --ms-button-outline: 2px solid #{rgba(himig.token-get-raw('warning-400'), himig.$color-fill-active-opacity)}
    }

    &:active {
      @include ms-button.color((
        fill: rgba(himig.token-get-raw('warning-400'), himig.$color-fill-active-opacity),
        ink: 'warning-400',
        border: rgba(himig.token-get-raw('warning-400'), himig.$color-fill-active-opacity)
      ));
    }
  }
  @include ms-button.extend('outlined.inverted') {
    @include ms-button.color((
      fill: rgba(0 0 0 / 0),
      ink: 'warning-400',
      border: 'warning-400'
    ));

    &:hover, &:focus {
      @include ms-button.color((
        fill: 'warning-300',
        ink: 'warning-ink',
        border: 'warning-300'
      ));
    }

    &:focus {
      --ms-button-outline: 2px solid #{rgba(himig.token-get-raw('warning-400'), himig.$color-fill-active-opacity)}
    }

    &:active {
      @include ms-button.color((
        fill: 'warning-200',
        ink: 'warning-ink',
        border: 'warning-200'
      ));
    }
  }
  @include ms-button.extend('filled.inverted') {
    @include ms-button.color((
      fill: 'warning-400',
      ink: 'warning-ink',
      border: 'warning-400',
    ));

    &:hover, &:focus {
      @include ms-button.color((
        fill: 'warning-300',
        ink: 'warning-ink',
        border: 'warning-300',
      ));
    }

    &:focus {
      --ms-button-outline: 2px solid #{rgba(himig.token-get-raw('warning-400'), himig.$color-fill-active-opacity)}
    }

    &:active {
      @include ms-button.color((
        fill: 'warning-200',
        ink: 'warning-ink',
        border: 'warning-200',
      ));
    }
  }
  @include ms-button.extend('fullwidth') {
    @include ms-button.struct((
      width: (
        max: 100%,
      )
    ));
  }
  @include ms-button.extend('fullheight') {
    @include ms-button.struct((
      height: (
        max: 100%
      )
    ));
  }

  @include ms-button.extend('box.small') {
    @include ms-button.struct((
      width: (min: 30px),
      padding: 0.3rem !important
    ));
  }

  @include ms-card.render(
    $color: (
      fill: 'primary-300',
      ink: 'primary-ink',
      border: 'primary-300'
    )
  );
  .ms-card__subtitle {
    @include himig.break(2);
  }
  @include ms-card.extend('small') {
    @include ms-card.typography((
      family: (
        'default': 'small',
        'title': 'subtitle',
        'subtitle': 'body',
      ),
      size: (
        'default': 12px,
        'title': 'subtitle',
        'subtitle': 'body',
        'icon': 50px
      ),
      weight: (
        'default': 'small',
        'title': 'bold',
        'subtitle': 'normal',
      ),
      line-height: (
        'default': 'small',
        'title': 'normal',
        'subtitle': 'normal',
      ),
    ));
  }

  @include ms-form-field.render(
    $color: (
      fill: (
        default: 'surface-400',
        hover: 'warning-200',
        focus: 'warning-200',
        disabled: 'ms-grey.400'
      ),
      ink: (
        disabled: 'ms-grey.200'
      ),
      border: (
        default: 'surface-600',
        hover: 'warning-alpha-600',
        focus: 'warning-400',
        disabled: 'ms-grey.300'
      )
    )
  );
  .ms-form-field {
    &.is-error {
      --ms-form-field-fill: #{himig.token-get('error-200')};
    }
  }

  @include ms-list.render(
    $struct: (
      width: (
        max: 100%
      )
    )
  );
  @include ms-list.extend('dropdown') {
    display: none;

    @include himig.breakpoint-create('medium') {
      &.is-open {
        display: flex;
      }

      .ms-list__item.is-active {
        @include himig.color-bind('list-item', (
          fill: 'warning-200',
          ink: 'warning-ink',
          border: 'warning-200'
        ));
        font-weight: 700;
      }
    }
  }
  @include ms-select-field.render(
    $color: (
      fill: (
        default: 'surface-400',
        hover: 'warning-200',
        focus: 'warning-200'
      ),
      border: (
        default: 'surface-600',
        hover: 'warning-alpha-600',
        focus: 'warning-400',
      )
    )
  );
  .ms-select-field {
    --ms-select-field-label-ink: var(--ms-theme-surface-ink) !important;
    --ms-select-field-border: var(--ms-theme-surface-600);
  }
  @include ms-utils.color();
  @include ms-utils.struct();
  @include ms-utils.typography();
  @include ms-utils.layout();

  .fill-success-400 {
    background: himig.token-get('success-400');
  }

  .ink-success-ink {
    color: himig.token-get('success-ink');
  }

  @include mu-appbar.render();
  @include mu-header.render();
  @include mu-markdown.render();
  @include mu-pathbar.render();

  @for $i from 1 through 3 {
    .truncated-#{$i} {
      @include himig.break($i);
    }
  }

  :where(.ms-skeleton) {
    position: relative;
    overflow: hidden;
    background: himig.token-get('primary-600');
    border: 1px solid himig.token-get('primary-400');
    border-radius: 4px;
    animation: blink 1.5s infinite;
    user-select: none;

    :where(.blink) {
      background: var(--ms-skeleton-fill, himig.token-get('primary-400'));
      color: rgba(0 0 0 / 0);
      animation: blink 1.5s infinite;

      &.is-accent.is-inverted {
        --ms-skeleton-fill: #{himig.token-get('warning-400')};
      }
    }
  }

  .mu-link {
    display: inline-block;
    color: himig.token-get('warning-400');
    text-decoration: none;
    transition: all var(--ms-transition-time) ease;

    &:hover {
      background: #{rgba(himig.token-get-raw('warning-400'), himig.$color-fill-hover-opacity)};
    }
  }

  .mu-modal__overlay {
    background: rgba(0 0 0 / 0.5);
    display: none;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;

    &.is-open {
      display: grid;

      .mu-modal {
        display: block;
      }
    }

    .mu-modal {
      width: calc(100% - 30px);
      max-width: 670px;
      display: none;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 0.7;
    }
  }
}