@use '@matteusan/sentro';

@mixin render() {
  @include sentro.selector-create('.appbar') {
    width: sentro.key-create('appbar-width', 100%);
    position: sentro.key-create('appbar-position', fixed);
    bottom: 0;
    left: 0;
    padding: 0.7rem 0.3rem;
    background: sentro.token-get('surface-200');
    z-index: 100;

    @include sentro.breakpoint-create('medium') {
      max-width: max-content;
      @include sentro.key-bind('appbar-position', static);
    }

    @include sentro.selector-create('.appbar__list') {
      display: sentro.key-create('appbar-list-display', grid);
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      list-style: none;
      gap: sentro.px-to-rem(10px);

      @include sentro.breakpoint-create('medium') {
        @include sentro.key-bind('appbar-list-display', flex);
      }

      @include sentro.selector-create('.appbar-item') {
        color: sentro.token-get('surface-ink');

        &.is-active {
          font-weight: 700;

          @include sentro.key-bind('appbar-item-icon-fill', sentro.token-get('accent-400'));
          @include sentro.key-bind('appbar-item-icon-ink', sentro.token-get('accent-ink'));
          @include sentro.key-bind('appbar-item-label-ink', sentro.token-get('accent-400'));

          &:hover {
            color: sentro.token-get('accent-600');

            @include sentro.key-bind('appbar-item-icon-fill', sentro.token-get('accent-600'));
          }
        }

        &:hover:not(.is-active) {
          @include sentro.key-bind('appbar-item-icon-fill', sentro.token-get('surface-300'));
        }

        a {
          display: flex;
          flex-flow: sentro.key-create('appbar-item-flow', column) nowrap;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          gap: sentro.px-to-rem(5px);

          @include sentro.breakpoint-create('medium') {
            max-width: max-content;
            @include sentro.key-bind('appbar-item-flow', row);
          }
        }

        @include sentro.selector-create('.appbar-item__icon') {
          width: sentro.key-create('appbar-item-icon-width', calc(100% - 30px));
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          border-radius: 5000px;
          padding: sentro.key-create('appbar-item-icon-padding', 5px);
          background: sentro.key-create('appbar-item-icon-fill', transparent);
          color: sentro.key-create('appbar-item-icon-ink', inherit);
          transition: all var(--transition-time) ease-in-out;

          @include sentro.breakpoint-create('medium') {
            @include sentro.key-bind('appbar-item-icon-width', 100%);
            @include sentro.key-bind('appbar-item-icon-padding', (5px 10px));
            height: 30px;
          }

          svg {
            width: 24px;
            height: 24px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }
        }

        @include sentro.selector-create('.appbar-item__label') {
          color: sentro.key-create('appbar-item-label-ink', inherit);
          font-size: clamp(12px, 2vw, 14px);
          transition: all var(--transition-time) ease-in-out;
        }
      }
    }
  }
}