@use '@matteusan/himig';

@mixin render() {
  .mu-alert {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: himig.key-create('alert-fill', himig.token-get('warning-200'));
    color: himig.key-create('alert-ink', himig.token-get('warning-600'));
    border: 1px solid himig.key-create('alert-border', himig.token-get('warning-300'));
    border-radius: 0.3rem;
    transition: all var(--mu-transition-time) ease-in-out;

    .mu-alert__label {
      @include himig.break(2);
    }

    &.is-high {
      @include himig.key-bind('alert-fill', himig.token-get('error-200'));
      @include himig.key-bind('alert-ink', himig.token-get('error-600'));
      @include himig.key-bind('alert-border', himig.token-get('error-300'));
    }

    .mu-alert__action {
      padding: 0.3rem;
      background: transparent;
      border: none;
      border-radius: 0.3rem;
      font-weight: bold;
      -webkit-appearance: caret;
      cursor: pointer;
      transition: all var(--mu-transition-time) ease-in-out;

      &:hover {
        background: himig.token-get('warning-300');
      }
    }
  }
}