@use '@matteusan/himig';

@mixin render() {
  .mu-appbar {
    width: himig.key-create('appbar-width', 100%);
    position: himig.key-create('appbar-position', fixed);
    bottom: 0;
    left: 0;
    padding: 0.7rem 0.3rem;
    background: himig.token-get('surface-200');
    z-index: 100;

    @include himig.breakpoint-create('medium') {
      max-width: max-content;
      @include himig.key-bind('appbar-position', static);
    }

    .mu-appbar__list {
      display: himig.key-create('appbar-list-display', grid);
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      list-style: none;
      gap: himig.to-rem(10px);

      @include himig.breakpoint-create('medium') {
        @include himig.key-bind('appbar-list-display', flex);
      }

      .mu-appbar-item {
        position: relative;
        color: himig.token-get('surface-ink');

        &.is-active {
          font-weight: 700;

          @include himig.key-bind('appbar-item-icon-fill', himig.token-get('accent-400'));
          @include himig.key-bind('appbar-item-icon-ink', himig.token-get('accent-ink'));
          @include himig.key-bind('appbar-item-label-ink', himig.token-get('accent-400'));
          @include himig.key-bind('appbar-item-gap', himig.to-rem(5px));

          // @include himig.breakpoint-create('medium') {
          //   @include himig.key-bind('appbar-item-gap', himig.px-to-rem(5px));
          // }

          &:hover {
            color: himig.token-get('accent-600');

            @include himig.key-bind('appbar-item-icon-fill', himig.token-get('accent-600'));
          }
        }

        &:hover:not(.is-active) {
          @include himig.key-bind('appbar-item-icon-fill', himig.token-get('surface-300'));
        }

        a {
          display: flex;
          flex-flow: himig.key-create('appbar-item-flow', column) nowrap;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          @include himig.breakpoint-create('medium') {
            max-width: max-content;
            gap: himig.key-create('appbar-item-gap', himig.to-rem(5px));
            @include himig.key-bind('appbar-item-flow', row);
            // @include himig.key-bind('appbar-item-gap', 0);
          }
        }

        .mu-appbar-item__icon {
          width: himig.key-create('appbar-item-icon-width', calc(100% - 30px));
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          border-radius: 5000px;
          padding: himig.key-create('appbar-item-icon-padding', 5px);
          background: himig.key-create('appbar-item-icon-fill', transparent);
          color: himig.key-create('appbar-item-icon-ink', inherit);
          transition: all var(--ms-transition-time) ease-in-out;

          @include himig.breakpoint-create('medium') {
            @include himig.key-bind('appbar-item-icon-width', 100%);
            @include himig.key-bind('appbar-item-icon-padding', (5px));
            height: 30px;
          }

          svg {
            width: 24px;
            height: 24px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }
        }

        .mu-appbar-item__label {
          color: himig.key-create('appbar-item-label-ink', inherit);
          font-size: clamp(12px, 2vw, 14px);
          transition: all var(--ms-transition-time) ease-in-out;
        }
      }
    }
  }
}